@charset "UTF-8";

body{
    background-color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 25px;
}
h1{
    color: rgb(241, 106, 106);
    background-color:bisque
}
h2{
    color: rgb(76, 76, 233);
    background-color: bisque;
}
p{
    text-align: justify;
}